<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="en">
<head th:fragment="head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>
<header th:fragment="header">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img src="/pictures/ONS-logo-symbol.png">
                    <p>ONS</p>
                </a>
            </div>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()" th:classappend="${#request.requestURI.equals('/') ? 'active':''}"><a href="/">Home</a></li>
                <li sec:authorize="hasRole('ROLE_USER')" th:classappend="${#request.requestURI.equals('/personal-checklist-list') ? 'active':''}"><a href="/personal-checklist-list">My Checklists</a></li>
                <li sec:authorize="hasRole('ROLE_AUTHOR')" th:classappend="${#request.requestURI.equals('/author/user-roles') ? 'active':''}"><a href="/author/view-checklist-templates">My Checklist Templates</a></li>
                <li sec:authorize="hasRole('ROLE_ADMIN')" th:classappend="${#request.requestURI.equals('/admin/user-roles') ? 'active':''}"><a href="/admin/user-roles">User Management</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" sec:authorize="!isAnonymous()">
                <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
        </div>
    </nav>
</header>
</body>
</html>
