<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: head"></head>
<head>
    <title>Assign Title & Description</title>
</head>
<body>
    <div th:replace="fragments/header :: header"></div>
    <form action="#" th:action="@{/author/checklist-title-and-description}" enctype="multipart/form-data" method="post"
          th:object="${checklist}" class="form-new-checklist container">
        <fieldset>
            <div class="form-group">
                <label th:for="title"> Checklist Title:</label>
                <input th:field="*{title}" type="text" class="form-control" placeholder="Checklist Title" required>
            </div>
            <br>
            <div class="form-group">
                <label th:for="titleDescription"> Checklist Description:</label>
                <textarea th:field="*{titleDescription}" rows="5" cols="60"
                          placeholder="Enter details about checklist here..." class="form-control" required></textarea>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Next</button>
        </fieldset>
    </form>
</body>
</html>
