<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Assign roles</title>-->
<!--    <h1>Manage users</h1>-->
<!--</head>-->
<!--<body>-->
<!--<form action="#" method="post" th:action="@{/assign-roles}" th:object="${Users}" >-->
<!--<ul>-->
<!--    <li th:each="user:${Users}">-->
<!--        <p th:text="${user.firstName}"> </p>-->
<!--        <label th:for="role">Admin</label>-->
<!--        <input type="checkbox" name ="roles.admin" />-->
<!--        <label th:for="role">New Starter </label>-->
<!--        <input type="checkbox" name ="roles.newStarter" />-->
<!--        <label th:for="role">Manager </label>-->
<!--        <input type="checkbox"  name="roles.manager"  />-->
<!--    </li>-->
<!--</ul>-->
<!--    <input id="submit" name="submit" type="submit" value="Submit"/>-->

<!--</form>-->
<!--</body>-->
<!--</html>-->