<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create Items</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/js/add_item_and_topic.js"></script>
</head>
<body>
    <form action="/author/create-checklist" enctype="multipart/form-data" method="post" th:object="${checklist}"
          name="checklist" class="form-new-checklist">

        <h1 th:text="${checklist.title}"></h1>
        <pre th:text="${checklist.titleDescription}"></pre>
        <input th:field="*{title}" th:value="*{title}" type="hidden"/>
        <input th:field="*{titleDescription}" th:value="*{titleDescription}" type="hidden"/>
        <input th:field="*{assignedTo}" th:value="*{assignedTo}" type="hidden"/>

        <table th:id="'itemTable-' + ${topic.topicTitle}" th:each="topic : ${topics.getTopics()}">
            <thead>
            <tr>
                <th><h2 th:text="${topic.topicTitle}"></h2>
                    <pre th:text="${topic.topicDescription}"></pre>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><label>Topic Item: </label></td>
                <td><input th:field="*{topic}" class="item" th:for="items" placeholder="insert item" required></td>
                <td><button type='button' onclick='deleteRow(this)'>-</button></td>
                <td><button type='button' onclick='addItemRow(this)'>+</button></td>
            </tr>
            </tbody>
        </table>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
