<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments/header :: head"></head>
<head>
    <title>Home</title>
</head>
<body>
    <div th:replace="fragments/header :: header"></div>
    <div align="center">
        <div sec:authorize="isAuthenticated()">
            &nbsp;Welcome <b><span th:text ="${#authentication.getPrincipal().getUser().getFirstName()}">Username</span></b>
            <i><span sec:authentication="principal.authorities">Roles</span></i>
        </div>
    </div>
</body>
</html>