<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ONS Onboarding</title>
</head>
<body>
<div>
    <h1>Please Login</h1>

    <form th:action="@{/login}" method="post">
        <div th:if="${error != null}">
            Invalid credentials.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <div>
            <label>
                Email : <input type="text" name="username"/>
            </label>
        </div>
        <div>
            <label>
                Password: <input type="password" name="password"/>
            </label>
        </div>
        <div>
            <input type="submit" value="Sign In"/>
        </div>
    </form>
    <a th:href="@{/user/add-user}">Register</a>
</div>
</body>
</html>