<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: head"></head>
<body>
<div th:replace="fragments/header :: header"></div>
<div th:object="${userRoleForm}">
    <h1>Edit User</h1>
    <div th:text="${userRoleForm.user.firstName} + ' ' + ${userRoleForm.user.lastName}"></div>
    <form action="/admin/userrole-form" method="post">
        <div th:each="role: ${userRoleForm.roles}">
            <input th:field="*{roles}" th:value="${role.id}" type="checkbox"/>
            <label th:for="*{roleId}" th:text="${role.name}">
            </label>
        </div>

        <input id="submit" name="Update" type="submit" value="Save Roles"/>

    </form>
</div>

</body>
</html>