<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: head"></head>
<body>
<div th:replace="fragments/header :: header"></div>
<h1>Assign roles to users </h1>
<form action="/userrole-form" method="post" th:object="${user}">


    <label th:for="email">Email:</label>
    <input th:field="*{email}" type="text"></input>
    <span th:errors="*{email}" th:if="${#fields.hasErrors('email')}">Email error</span>
    <br>


    <div th:each="role: ${user.roles}">
        <input th:field="*{roles}" th:value="${role.id}" type="checkbox"/>
        <label th:for="*{roleId}" th:text="${role.name}">
        </label>
    </div>

    <input id="submit" name="Update" type="submit" value="Submit"/>

</form>
</body>
</html>