<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>View Checklists</title>

</head>
<body>
<h1>Hello <div id="header" th:text="${user.Fname}"> </div></h1>

    <table style="width:100%">
        <tr style="text-align:left">
            <th><h2>Id ref</h2></th>
            <th><h2>Header</h2></th>
            <th><h2>Content</h2></th>
            <th><h2>Checked</h2></th>
        </tr>

        <td><div th:text="${checklistItem.checkId}"></div></td>
        <td><div th:text="${checklistItem.checkHeader}"></div></td>
        <td><div th:text="${checklistItem.checkContent}"></div></td>
        <td><input type="checkbox" id="check" value="${checklistItem.checked}"></td>

    </table>

</body>
</html>