<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create Topic</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/js/add_item_and_topic.js"></script>
</head>
<body>
    <form action="#" th:action="@{/author/set-topic}" enctype="multipart/form-data" method="post"
          th:object="${topicForm}" class="form-new-checklist">
        <fieldset>
            <h1 th:text="${title}"></h1>
            <pre th:text="${titleDescription}"></pre>
            <br>

            <label th:for="${topicTitle}">Topic Title: </label>
            <input th:field="*{topicTitle}" placeholder="Insert title...." required>
            <br>
            <label th:for="${topicDescription}">Topic Description: </label>
            <textarea th:field="*{topicDescription}" rows="5" cols="60"
                      placeholder="Enter details about topic here..." required></textarea>
            <br>
            <table>
                <tbody>
                <tr>
                    <td><label>Topic Item: </label></td>
                    <td><input th:field="*{items}" placeholder="Insert item..." required></td>
                    <td><button type='button' onclick='deleteRow(this)'>-</button></td>
                    <td><button type='button' onclick='addItemRow(this)'>+</button></td>
                </tr>
                </tbody>
            </table>
            <input th:field="*{anotherTopic}" type="checkbox" value="true">
            <label th:for="${anotherTopic}">Create another topic</label>
            <br>
            <button type="submit">Submit</button>
        </fieldset>
    </form>
</body>
</html>
