<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: head">
    <meta charset="UTF-8">
    <title>View Checklist</title>
</head>
<body>
    <div th:replace="fragments/header :: header"></div>
    <div>
        <h1 th:text="${checklist.name}"></h1>
        <button th:value="${checklist.id}">Edit Title & Description</button>
        <div th:text="${checklist.description}"></div>
    </div>

    <div th:each="topic : ${checklist.topics}">
        <h2 th:text="${topic.name}"></h2>
        <button th:value="${topic.id}">Edit Topic</button>
        <div th:text="${topic.description}"></div>

        <table>
            <tr style="text-align:left">
                <th><h3>Checked</h3></th>
                <th><h3>Item Description</h3></th>
            </tr>
            <tr th:each="item: ${topic.items}">
                <td><input type="checkbox" id="check"></td>
                <td th:text="${item.description}"></td>
            </tr>
        </table>
    </div>

    <h2>Assigned To:</h2>
    <button>edit assigned users</button>
    <br>
    <select size="5">
        <option value="0" disabled>Users:</option>
        <option th:each=" user : ${users}" th:text="${user.getUserId().getFirstName()} + ${user.getUserId().getLastName()}"
                th:value="${user.getUserId().getId()}" disabled></option>
    </select>

</body>
</html>